/*! common.css by dariusz.ruminski@gmail.com */
h1 {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}

label[for], input[type='button'], input[type='submit'], input[type='radio'], input[type='checkbox'], button {
    cursor: pointer;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

input[type='submit'] {
    padding: 0px 10px
}

input[type='checkbox'], input[type='radio'] {
    margin: 0px 5px;
}

img {
    border: 0px;
}

textarea {
    resize: none;
}
