html {
    text-align: center;
    margin: auto;
    width: 75%;
}

#search-form .item {
    clear: both;
    margin: 10px;
    position: relative;
}
#search-form .item .label {
    width: 250px;
    text-align: left;
    float: left;
}
#search-form .item .errors {
    color: red;
    text-align: right;
    float: right;
}

#loadList {
    text-align: left;
}
#loadList li {
    line-height: 24px;
    margin: 5px;
    padding-left: 30px;
}
#loadList li.loading {
    background-image: url("http://static.ruminski.org/img/loader/24_bw_1.gif");
    background-repeat: no-repeat;
}
#loadList li.error {
    background-image: url("http://static.ruminski.org/img/icon/24_error_1.png");
    background-repeat: no-repeat;
}

.ui-progressbar {
    height: 21px;
    position: relative;
}
#progressbar-label {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 22px;
}
.ui-progressbar .ui-progressbar-value {
    margin: -2px;
}
.ui-progressbar.working .ui-progressbar-value {
    background-image: url("../3rd/jquery/ui-images/pbar-ani.gif");
}

#results li {
    border: 1px solid #FFA500;
    margin: 5px;
    padding: 3px;
    display: inline-block;
    width: 23%;
    vertical-align: top;
    position: relative;
}
